<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whyble.farm.seed">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA55VHiduzK7x3noqovYgi7YKKa53xyTrM" />

        <activity android:name=".user.signup.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".view.seed.list.save.SaveSeedActivity" />
        <activity android:name=".view.seed.list.bonus.BonusSeedActivity" />
        <activity android:name=".view.seed.list.farm.FarmSeedActivity" />
        <activity android:name=".view.seed.list.my.MySeedActivity" />
        <activity android:name=".view.sub.neighborBlock.NeighborBlockActivity" />
        <activity android:name=".view.sub.giftSeed.GifiSeedActivity" />
        <activity android:name=".view.sub.giftHistory.GiftSeedHistoryActivity" />
        <activity android:name=".view.sub.merchantUseHistory.MerchantUseHistoryActivity" />
        <activity android:name=".view.sub.findMerchants.FindMerchantsActivity" />
        <activity android:name=".view.sub.applyingForMerchant.ApplyingForMerchantActivity" />
        <activity android:name=".user.signup.SignupActivity" />
        <activity android:name=".user.signup.update.UpdateActivity" />
        <activity android:name=".view.test.TestActivity" />
        <activity android:name=".view.notice.NoticeActivity" />
        <activity android:name=".view.qr.QrPaymentActivity"></activity>
        <activity android:name=".view.notice.NoticeActivity" />
        <activity android:name=".view.daum.DaumActivity"></activity>
    </application>

</manifest>